@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Outfit";
}

main {
    background-color: rgba(213, 225, 239, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr__container {
    width: min-content;
    height: max-content;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 1em;
    box-shadow: 10px 10px 30px rgb(219, 203, 203);


}

div h1 {
    color: rgba(31, 44, 67, 255);
    font-size: 1.1em;
    margin: 0.5em 1.5em 1em 1.5em;
    font-weight: 600;

}

div p {
    color: #9fa1aa;
    font-weight: 400;
    margin: 0 1.5em 2em 1.5em;
    font-size: 15px;
}

img {
    border-radius: 4%;
    overflow: hidden;
    width: 250px;
    margin: 0.9em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}